	#fb{
	position: fixed;
	float: left;
	margin: 0 auto;
	padding: 10px;
	border: aquamarine solid 2px;
	height: 100%;
}

.links{
	margin: 5px;
	padding: 5px;
}

#master{
	padding-left: 150px
}

#container1 { 
	height: 300px; 
	width: 300px;
	float: left;
	padding-left: 10px;
}

#container2 { 
	height: 300px; 
	width: 300px;
	float: left;
	padding-left: 10px;
}

#container3 { 
	height: 300px; 
	width: 300px;
	float: left;
	padding-left: 10px;
}